body {
    display: flex;
    width: 1900x;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.container {
    height: 400px;
    width: 300px;
    display: flex;
   flex-direction: column;
   outline-style: solid;
   outline-width: 1px;
}
.display {
    width: 240px;
    height: 40px;
    font-size: 30px;
    outline-style: solid;
   outline-width: 1px;
   background-color: lightblue;
   
}
.displayer {
   
    width: 200x;
    height: 70px;
    display: flex;
   align-items: center;
  padding-left: 30px;
  padding-right: 30px;
 background-color: lightgrey;
 

}


.baton {
    
    display: flex;
    height: 330px;
    
}
.bonk{ 
   display: flex;
   flex-wrap: wrap;
   align-items: center;
  align-content:  center;
   justify-content: center;
    background-color: lightgray;
   
   
}

.num{
    background-color: white;
    border-radius: 25px;
    height: 70px;
    width: 70px;
}
.numop{
    border-radius: 25px;
    height: 70px;
    width: 70px;
}

.belowdisplay {
    background-color: lightgrey;
 display: flex;
 justify-content: space-around;
}

.doublenum {
    border-radius: 25px;
    height: 30px;
    width: 80px;
    justify-content: space-around;
}


#numback {
    background-color:royalblue
}

#numclear {
    background-color: chocolate;
}

#numMulti{
    background-color: rgb(105, 204, 7)
}
#numDivide{
    background-color: chartreuse
}
#numPlus {
    background-color: chartreuse
}
#numDivide{
    background-color: chartreuse
}
#numMinus{
    background-color: chartreuse
}